<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Emerging Market Consulting" %></a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <%- if user_signed_in? %>
      <ul class="left">
        <li><%= link_to "Nav1" %></li>
        <li><%= link_to "Map" %></li>
        <li><%= link_to "Account Management" %></li>
      </ul>
    <%- end %>
    
    <ul class="right">
      <%- if user_signed_in? %>
        <li class="has-dropdown">
          <a href="#"><%=current_user.email%></a>
          <ul class="dropdown">
            <li><%= link_to t('views.layouts.action.settings'), edit_user_registration_path %></li>
            <li><a href="mailto:support@instedd.org?subject=[emc -bug]"><%=t('views.layouts.action.report_bug') %></a></li>
            <li class="active"><%= link_to t('views.layouts.action.sign_out'), destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <li>
          <%= link_to '', edit_user_registration_path, :class => 'fsettings' %>
        </li>
      <%- else %>
        <li class='active'>
          <%= link_to t('views.layouts.action.log_in'), new_user_session_path, :class => 'fuser' %>
        </li>
      <%- end %>
    </ul>
  </section>
</nav>
