<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDv0elwpMF_jNG13XxPRx2rkvM89N6b2U" type="text/javascript">
    </script>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>

  <body>
    <%= render 'layouts/nav_bar' %>

    <%= bootstrap_flash %>
    <%= yield %>
    
    <%= render 'layouts/footer' %>
  </body>
</html>